<%= form_with(model: fornecedor, local: true, :class => 'form-floating') do |form| %>
  <% if fornecedor.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger"><%= pluralize(compra.errors.count, compra.errors.count > 1 ? "erros impediram" : "erro impediu") %> que este fornecedor fosse salvo:
				<ul>
					<% fornecedor.errors.full_messages.each do |message| %>
						<li><%= message %></li>
					<% end %>
				</ul>
			</div>
    </div>
  <% end %>

  <div class="row">
    <div class="col">
      <div class="form-floating mb-3">
  	    <%= form.text_field :nome, {class: "form-control"} %>
        <%= form.label :nome %>
      </div>
	</div>
    <div class="col">
      <div class="form-floating mb-3">
  	    <%= form.text_field :cpf_cnpj, {class: "form-control"} %>
        <%= form.label :cpf_cnpj %>
      </div>
	</div>
    <div class="actions pt-2 mb-2">
			<%= link_to 'Voltar', fornecedores_path, class: "btn btn-secondary text-white" %>
      <%= form.submit(:class => 'btn btn-success') %>
    </div>
  </div>
<% end %>
