<h2>Lista de Fornecedores</h2>
<p id="notice"><%= notice %></p>
<table id="datatable" class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Nome</th>
      <th>CPF/CPNJ</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @fornecedores.each do |fornecedor| %>
      <tr>
        <td class="align-middle"><%= fornecedor.nome %></td>
        <td class="align-middle"><%= fornecedor.cpf_cnpj %></td>
		
        <td>
			<%= link_to 'Exibir', fornecedor, class: "btn btn-info text-white" %>
			<%= link_to 'Editar', edit_fornecedor_path(fornecedor), class: "btn btn-warning text-white" %>
			<%= link_to 'Excluir', fornecedor, class: "btn btn-danger text-white", method: :delete, data: { confirm: 'Tem certeza?' } %>
		</td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Novo Fornecedor', new_fornecedor_path, class: "btn btn-primary text-white" %>