<h2>Exibindo Fornecedor</h2>
<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @fornecedor.nome %>
</p>

<p>
  <strong>Preço de venda:</strong>
  <%= @fornecedor.cpf_cnpj %>
</p>

<%= link_to 'Editar', edit_fornecedor_path(@fornecedor), class: "btn btn-warning text-white" %>
<%= link_to 'Voltar', fornecedores_path, class: "btn btn-secondary text-white" %>
