<%= form_with(model: produto, local: true, :class => 'form-floating') do |form| %>
  <% if produto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(produto.errors.count, "error") %> erros impediram que este fornecedor fosse salvo:</h2>

      <ul>
        <% produto.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col">
      <div class="form-floating mb-3">
  	    <%= form.text_field :nome, {class: "form-control"} %>
        <%= form.label :nome %>
      </div>
	</div>
    <div class="col">
      <div class="form-floating mb-3">
  	    <%= form.text_field :preco_venda, {class: "form-control"} %>
        <%= form.label :preco_venda %>
      </div>
	</div>
    <div class="actions pt-2 mb-2">
      <%= form.submit(:class => 'btn btn-success') %>
    </div>
  </div>
<% end %>
