<%= form_with(model: produto, local: true, :class => 'form-floating') do |form| %>
  <% if produto.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger"><%= pluralize(produto.errors.count, "erros") %> impediram que este fornecedor fosse salvo:
				<ul>ls.compra.attribu
					<% produto.errors.full_messages.each do |message| %>
						<li><%= message %></li>
					<% end %>
				</ul>
			</div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="form-floating mb-3">
  	    <%= form.text_field :nome, {class: "form-control"} %>
        <%= form.label :nome %>
      </div>
		</div>
    <div class="col-md-6">
      <div class="form-floating mb-3">
  	    <%= form.text_field :preco_venda, {class: "form-control"} %>
        <%= form.label :preco_venda %>
      </div>
		</div>
		<div class="actions pt-2 mb-2">
			<%= link_to 'Voltar', produtos_path, class: "btn btn-secondary text-white" %>
			<%= form.submit(:class => 'btn btn-success') %>
		</div>
	</div>
<% end %>
