<%= form_with(model: produto, local: true, :class => 'form-floating') do |form| %>
  <% if produto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(produto.errors.count, "error") %> erros impediram que este fornecedor fosse salvo:</h2>

      <ul>
        <% produto.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :nome, class: "form-label" %>
	<%= form.text_field :nome, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :preco_venda, class: "form-label" %>
	<%= form.text_field :preco_venda, class: "form-control" %>

  <div class="actions pt-2">
    <%= form.submit(:class => 'btn btn-success') %>
  </div>
<% end %>
