<!doctype html>
<html lang="pt-BR" class="h-100">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Webstore</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
	<link rel="icon" href="/favicon.png">    
</head>
<body class="d-flex flex-column h-100">
	<div class="container">
		<!-- Navbar -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="/">Webstore</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link" aria-current="page" href="/"><i class="fa fa-home"></i> Home</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								<i class="fa fa-edit"></i> Cadastros
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li><a class="dropdown-item" href="/produtos"><i class="fa fa-caret-right"></i> Produtos</a></li>
								<li><a class="dropdown-item" href="/fornecedores"><i class="fa fa-caret-right"></i> Fornecedores</a></li>
								<li><a class="dropdown-item" href="/clientes"><i class="fa fa-caret-right"></i> Clientes</a></li>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#"><i class="fa fa-warehouse"></i> Estoque</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								<i class="fa fa-coins"></i> Financeiro
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li><a class="dropdown-item" href="#"><i class="fa fa-caret-right"></i> Contas a pagar</a></li>
								<li><a class="dropdown-item" href="#"><i class="fa fa-caret-right"></i> Contas a receber</a></li>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#"><i class="fa fa-cart-plus"></i> Vendas</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	<div class="container container-fluid pt-3">
		<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">Page</li>
			</ol>
		</nav>
	</div>
	<div class="container container-fluid pb-4">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-body">
						<%= yield %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container container-fluid">
		<footer class="footer mt-auto py-3 bg-dark">
			<div class="container">
				<span class="text-muted">Webstore 2022</span>
			</div>
		</footer>
	</div>
</body>
</html>