<div class="nested-fields">
	<div class="row">
		<div class="col-md-5">
			<div class="form-floating field mb-3" id="nome_<%= form_tag_id(f.object_name, :produto_id) %>">
				<%= autocomplete_field :produto, :nome,
					autocomplete_produto_nome_acs_path,
					:update_elements => { :id => "#"+ form_tag_id(f.object_name, :produto_id) },
					:class => "form-control",
					:id_element => "#"+ form_tag_id(f.object_name, :produto_id),
					:value => f.object.produto.try(:nome) %>
	      <%= f.label :produto %>
				<%= f.hidden_field :produto_id %>
			</div>
		</div>
		<div class="col-md-2">
			<div class="form-floating field mb-3">
				<%= f.number_field :quantidade, {class: "form-control", min: "0.00", max: "999999.00", step: "0.5"} %>
				<%= f.label :quantidade %>
			</div>
		</div>
		<div class="col-md-2">
			<div class="form-floating field mb-3">
				<%= f.text_field :vlr_unitario, {class: "form-control", maxlength: 10} %>
				<%= f.label :vlr_unitario %>
			</div>
		</div>
		<div class="col-md-2">
			<div class="form-floating field mb-3">
				<%= f.text_field :vlr_total, {class: "form-control", maxlength: 10} %>
				<%= f.label :vlr_total %>
			</div>
		</div>
		<div class="col-md-1 mb-4">
			<%= link_to_remove_association "- Remover", f, class: "badge bg-danger mt-3" %>
		</div>
	</div>
</div>