<%= form_with(model: compra, local: true, :class => 'form-floating') do |form| %>
  <% if compra.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(compra.errors.count, "error") %> erros impediram que esta compra fosse salva:</h2>

      <ul>
        <% compra.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

	<div class="row">
	  <div class="col-md-6">
	    <div class="form-floating mb-3">
	      <%= form.date_field :data, {class: "form-control"} %>
	      <%= form.label :data %>
	    </div>
	  </div>

	  <div class="col-md-6">
	    <div class="form-floating mb-3">
	    <%= form.text_field :valor_total, {class: "form-control"} %>
	    <%= form.label :valor_total %>
	    </div>
	  </div>

	  <div class="col-md-12">
	    <div class="form-floating mb-3">
	    <%= form.collection_select(:fornecedor_id, Fornecedor.order(:nome), :id, :nome, options = {include_blank: true}, html_options = {class: "form-control"})%>
	      <%= form.label :fornecedor %>
	    </div>
	  </div>

	  <div class="col-md-12">
	    <div class="form-floating mb-3">
	      <%= form.text_area :observacao, {class: "form-control"} %>
	      <%= form.label :observacao %>
	    </div>
	  </div>

	  <div class="actions pt-2 mb-2">
	    <%= form.submit(:class => 'btn btn-success') %>
	  </div>
	</div>
<% end %>