<%= form_with(model: compra, local: true, :class => 'form-floating') do |form| %>
  <% if compra.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger"><%= pluralize(compra.errors.count, "erros") %> impediram que este fornecedor fosse salvo:
				<ul>
					<% compra.errors.full_messages.each do |message| %>
						<li><%= message %></li>
					<% end %>
				</ul>
			</div>
    </div>
  <% end %>
	<div class="row">
	  <div class="col-md-6">
	    <div class="form-floating mb-3">
	      <%= form.date_field :data, {class: "form-control"} %>
	      <%= form.label :data %>
	    </div>
	  </div>
	  <div class="col-md-6">
	    <div class="form-floating mb-3">
	    <%= form.number_field :valor_total, {class: "form-control", min: "0.00", max: "999999.00", step: "0.01"} %>
	    <%= form.label :valor_total %>
	    </div>
	  </div>
	</div>
	<div class="row">
	  <div class="col-md-12">
	    <div class="form-floating mb-3">
				<div class="clear" id="nome_<%= form_tag_id(form.object_name, :fornecedor_id) %>">
	      	<%= form.label :fornecedor %>
					<%= autocomplete_field :fornecedor, :nome,
						autocomplete_fornecedor_nome_acs_path,
						:update_elements => { :id => "#"+ form_tag_id(form.object_name, :fornecedor_id) },
						:class => "form-control",
						:id_element => "#"+ form_tag_id(form.object_name, :fornecedor_id),
						:value => form.object.fornecedor.try(:nome) %>
					<%= form.hidden_field :fornecedor_id %>
				</div>
	    </div>
	  </div>
	</div>
	<div class="row">
	  <div class="col-md-12">
	    <div class="form-floating mb-3">
	      <%= form.text_area :observacao, {class: "form-control"} %>
	      <%= form.label :observacao %>
	    </div>
	  </div>
	</div>
	<hr>
	<div class="row">
    <h5>Produtos</h5>
    <div id="compra_itens">
      <%= form.fields_for :compra_itens do |compra_item| %>
        <%= render 'compra_item_fields', f: compra_item %>
      <% end %>
      <div class="links">
        <%= link_to_add_association "+ Adicionar produto", form, :compra_itens, class: "badge bg-primary mb-2" %>
      </div>
    </div>
	</div>
	<div class="row">
	  <div class="actions pt-2 mb-2">
			<hr>
			<%= link_to 'Voltar', compras_path, class: "btn btn-secondary text-white" %>
	    <%= form.submit(:class => 'btn btn-success') %>
	  </div>
	</div>
<% end %>